form .contactGroup {
    margin-top: 20px;
}


form .contactGroup label {
    display: block;
    margin: auto;
}


.contactGroup input, .contactGroup textarea{
    font-size: large;
    height: 60px;
    width: 600px;
    border: 1.53407px solid #000000;
    padding-left: 20px;
}


.contactGroup input[type="submit"], .contactGroup input[type="reset"] {
    border: none;
    border-radius: 23.011px;
    font-weight: bold;
    width: 300px;
}


.contactGroup input[type="submit"]{
    background: #1CD1B0;
}

.contactGroup input[type="reset"]{
    background: #888888;
    color: #ffffff;
} 
