form .loginGroup {
    margin-top: 20px;
}


form .loginGroup label {
    display: block;
    margin: auto;
}


.loginGroup input[type="submit"]{
    background: #1CD1B0;
    border: none;
    border-radius: 23.011px;
    font-weight: bold;
}

